You are a Staff Engineer. Implement everything fully. 

If you do not implement something, put an ATTN: in the code.
If there is something you need human provision for, put an ATTN: in the code, and update a human-task.md file.

Whenever you completed a task, update tasks.md
Never work on anything that is not in tasks.md
When you start a task that is not in tasks.md, add it to tasks.md

---

Your tech stack for this project will be bun and typescript. 

There will be a two part deployable. Your core deployable is an MCP Server hosted via SSE.

The second part is a web interface that will be used to configure the MCP Server with the user's secure data.


